@font-face {
    font-family: "yoony";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/yoony/yoony.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/yoony/yoony.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/yoony/yoony.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/yoony/yoony.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/yoony/yoony.ttf") format("truetype");
    font-display: swap;
}
.yoony {
    font-family: "yoony";
}